h1 {
  text-align: center;
  color: blue;
}
h3 {
  float: left;
  border: 1px black solid;
  text-align: center;
  width: 50px;
  border-radius: 12px;
  padding: 6px;
  margin: 2px 20px 2px 10px;
  background: black;
  color: white;
}
